@model UcoPruebaTecnica.Models.Song
@{
    ViewBag.Title = "Canción";
    ViewData["Title"] = "Actualización de Canción";
}

<div class="text-center">
    <h1 class="display-4">Gestión Canción</h1>
    <div style="float:right">
        <button class="btn btn-danger btn-sm" onclick="location.href = '../Song/Index'"> X </button>
    </div>
    <br />
    <br />
    <div class="alert alert-@ViewBag.alerta"> -- <b>@ViewBag.res</b> --</div>
</div>
<div class="text-center">
    <form action="/Song/Actualizar" method="post">
        <div class="input-group" style="width: 230px;">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 100px" id="">Id</span>
            </div>
            <input type="text" class="form-control" name="idCancion" id="idCancion" maxlength="150" value="@Model.IdCancion" readonly>
        </div>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 100px" id="">Nombre</span>
            </div>
            <input type="text" style="text-transform:uppercase" class="form-control" name="nombre" id="nombre" maxlength="150" value="@Model.Nombre" required>
        </div>
        <br />
        <div class="input-group" style="width: 230px;">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 100px" id="">Duración</span>
            </div>
            <input type="text" style="text-transform:uppercase" class="form-control" name="duracion" id="duracion" maxlength="20" value="@Model.Duracion" required>
        </div>
        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 100px" id="">Artista</span>
            </div>
            <select class="form-control" id="idArtista" name="idArtista" size="1" required>
                <option value="0">-- Seleccionar --</option>
                @foreach (var row in Model.Artist)
                {
                    if (@row.IdArtista == Model.IdArtista)
                    {
                        <option value="@row.IdArtista" selected>@row.Nombre</option>
                    }
                    else
                    {
                        <option value="@row.IdArtista">@row.Nombre</option>
                    }
                }
            </select>
        </div>
        <br />
        <div style="float:right">
            <button class="btn btn-success"> Guardar </button>
        </div>
    </form>
</div>