@model List<UcoPruebaTecnica.Models.Song>
@{
    ViewBag.Title = "Canción";
    ViewData["Title"] = "Listado de Canciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Gestión Canciones</h1>
    <div style="float:right">
        <button class="btn btn-primary btn-sm" onclick="location.href = '../Song/Nuevo'"> Nuevo </button>
    </div>
    <br />
    <br />
    <div class="alert alert-@ViewBag.alerta"> -- <b>@ViewBag.res</b> --</div>
</div>
<div class="text-center">
    <table id="tablaCancion" class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Duracion</td>
                <td>Artista</td>
                <td style="text-align: center; width: 160px">Acciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.IdCancion</td>
                    <td>@row.Nombre</td>
                    <td>@row.Duracion</td>
                    <td>@row.NombreArtista</td>
                    <td style="text-align:right">
                        <button class="btn btn-warning btn-sm" onclick="location.href = '../Song/Actualizar?idCancion=@row.IdCancion'"> Editar </button>
                        <button class="btn btn-danger btn-sm" onclick="location.href = '../Song/Eliminar?idCancion=@row.IdCancion'"> Eliminar </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>